name: doc

on:
  push:
    branches:
      - master
    paths:
      - 'doc/**'
      - 'modules/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Install Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build
        run: |
          nix build .#doc -L
          cp -vrL ./result ./_site

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v2

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2

permissions:
  contents: read
  pages: write
  id-token: write
